<h5 class="text-secondary">{{currentDataSet?.name}}</h5>
<hr>
<div class="row m-0 p-0">
  <div class="col-6 m-0">
    <h4>list of records</h4>
  </div>
  <div class="col-6 text-right m-0">
    <button class="btn btn-secondary mr-2" [routerLink]="['/home']"> <i class="fa fa-home"></i> Back to project list</button>
    <button class="btn btn-primary" [routerLink]="['/aggregate', currentDataSet?.code, currentDataSet?.id, 'form']"> <i class="fa fa-plus"></i> Add New</button>
  </div>
</div>
<hr>
<table class="table table-striped table-bordered table-sm">
  <thead>
  <tr>
    <th>Period</th>
    <th>Status</th>
    <th>Complete Date</th>
    <th># data saved</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ds of dataValueSets">
    <td>{{ ds?.period }}</td>
    <td>{{ds.completeDate ? 'COMPLETED' : 'NOT COMPLETED' }}</td>
    <td>{{ds?.completeDate | date: 'yyy-MM-dd'}}</td>
    <td>{{ds.dataValues.length}} / {{ ds.available}} </td>
    <td>
      <button class="btn btn-primary" [routerLink]="['/aggregate', currentDataSet?.code, currentDataSet?.id, 'form', ds?.period]">
        <i class="fa fa-edit"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>


