<h5 class="text-secondary"> {{currentDataSet?.name}}</h5>
<hr>
<div class="row m-0 p-0">
  <div class="col-6 m-0">
    <h4 class="m-0">Data capture Form</h4>
  </div>
  <div class="col-6 text-right m-0">
    <button class="btn btn-secondary" [routerLink]="['/aggregate', currentDataSet?.code, currentDataSet?.id]"> <i class="fa fa-caret-left"></i> Back to list</button>
  </div>
</div>
<hr class="m-2">
<form id="form" class="border border-light bg-light p-2">
  <div class="form-group row">
    <label for="reportingPeriod" class="col-2">Reporting Period</label>
    <div class="col-4 input-group">
      <div class="input-group-prepend">
        <button class="input-group-text btn btn-primary" (click)="previewsYearPeriod()" title="Previews year"> <i class="fa fa-arrow-left"></i> </button>
      </div>
      <select name="reportingPeriod" id="reportingPeriod" class="form-control" (change)="selectPeriod()" [(ngModel)]="currentPeriod">
        <option value=""></option>
        <option *ngFor="let period of periodList" [selected]="currentPeriod === period.id" value="{{period.id}}">{{period.value}}</option>
      </select>
      <div class="input-group-append">
        <button class="input-group-text btn btn-primary" (click)="nextYearPeriod()" title="Next year"> <i class="fa fa-arrow-right"></i> </button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2">Intermediate Result :</label>
    <div class="col-10">
      <label class="col-8">{{currentDataSet?.organisationUnits[0]?.name}}</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2">Indicator Name:</label>
    <div class="col-10">
      <label class="col-10">{{currentDataSet?.name}}</label>
    </div>
  </div>

  <div #form class="mt-2" id="input-form" *ngIf="currentPeriod"></div>
  <div class="text-center p-5 alert alert-info" *ngIf="loading"><h4>Loading form ... </h4></div>
  <div class="text-center p-5 alert alert-info" *ngIf="!currentPeriod && !loading">
    <h4>Please Select a period to see the form</h4>
  </div>
  <div class="text-center border-top" *ngIf="!loading && currentPeriod && dataValueSet.completeDate">
    <button class="btn btn-warning mt-2 mr-2" (click)="unCompleteForm()">Mark as uncompleted</button>
  </div>
  <div class="text-center border-top" *ngIf="!loading && currentPeriod && !dataValueSet.completeDate">
    <button class="btn btn-primary mt-2" (click)="completeForm()">Mark as completed</button>
  </div>
</form>

