
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-4 margetop">
      <div class="card-header">
        <div class="card-title"><h4>Project areas IR (intermediate result)</h4></div>
      </div>
      <div class="card-body" style="background-color: seashell" *ngFor="let area of dataStore.areaGroups">
        <h5><a href="#" (click)="getAreaDataSets(area.code)">{{area.name}}</a></h5>
      </div>
    </div>
    <div class="container-fluid col-lg-8 margetop">
      <div class="table-responsive shadow">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr class="text-center">
            <th>Code</th>
            <th>Indicateur Name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-justify" *ngFor="let dataSet of dataSets">
            <td>{{dataSet.code}}</td>
            <td>{{dataSet.name}}</td>
            <td>
              <button class="btn btn-primary mr-2" [routerLink]="['/form'+dataSet.code, dataSet.id]"> Data Entry </button>
<!--              <button class="btn btn-warning" [routerLink]="['/form',dataSet.id]"><i class="fa fa-edit"></i> Edit</button>-->
            </td>
          </tr>
<!--          <tr class="text-justify">-->
<!--            <td><i class="bg-warning"></i></td>-->
<!--            <td>3.2.1</td>-->
<!--            <td>Percent of individuals with XM KM platform access who accessed the platform at least once in the previous 3 months</td>-->
<!--            <td></td>-->
<!--            <td>-->
<!--              <button class="btn btn-primary mr-2" [routerLink]="['/form3.1.1']"><i class="fa fa-save"> New</i></button>-->
<!--&lt;!&ndash;              <button class="btn btn-warning"><i class="fa fa-edit"></i> Edit</button>&ndash;&gt;-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr class="text-justify">-->
<!--            <td><i class="bg-warning"></i></td>-->
<!--            <td>3.2.2</td>-->
<!--            <td>Number of systems, mechanisms, tools, products, and/or innovations developed by MKA for the MOMENTUM suite of awards</td>-->
<!--            <td></td>-->
<!--            <td style="width: 200px">-->
<!--              <button class="btn btn-primary mr-2" [routerLink]="['/form322']"><i class="fa fa-save"> New</i></button>-->
<!--              <button class="btn btn-warning"><i class="fa fa-edit"></i> Edit</button>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr class="text-justify">-->
<!--            <td><i class="bg-warning"></i></td>-->
<!--            <td>3.3.2</td>-->
<!--            <td>Number of unique clicks on internal products developed by MKA</td>-->
<!--            <td></td>-->
<!--            <td style="width: 200px">-->
<!--              <button class="btn btn-primary mr-2" [routerLink]="['/form323']"><i class="fa fa-save"> New</i></button>-->
<!--              <button class="btn btn-warning"><i class="fa fa-edit"></i> Edit</button>-->
<!--            </td>-->
<!--          </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

