
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-4 mt-4">
      <div class="card-header">
        <div class="card-title"> Information disponible pour plus tard</div>
      </div>
      <div class="card-body" style="background-color: seashell">
        jjndnnvf,flklklklukjk,jhjhjhdhkdhdnddbdnd;jb
        dhdjhjd hhjshjshn jbsjbjs hghsg
      </div>
    </div>
    <div class="container-fluid col-lg-8 mt-4">
      <div class="table-responsive shadow">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr class="text-center">
            <th>Type</th>
            <th>Indicateurs</th>
            <th>Indicateur Name</th>
            <th>Designation</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center">
            <td><i class="bg-warning"></i></td>
            <td>3.0.1</td>
            <td>Number of systems, mechanisms, tools, products, and/or innovations developed by MKA for the MOMENTUM suite of awards</td>
            <td>IR (intermediate result) / project area</td>
            <td style="width: 200px">
              <button class="btn btn-primary mr-2" [routerLink]="['/form321']"><i class="fa fa-save"> New</i></button>
              <button class="btn btn-warning"><i class="fa fa-edit"></i> Edit</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

