<ngx-dhis2-menu></ngx-dhis2-menu>
<!--<div class=" mt-5" role="banner" id="header">-->
<!--  <img width="40"/>-->
<!--  <a href="#" style="color: white" title="Home"><i width="40" class="fa fa-home fa-3x mr-5 " routerLink="/home"></i></a>-->
<!--  <a href="#" style="color: white" routerLink="/home"><h1>MOMENTUM  MKA-AMELP </h1></a>-->
<!--&lt;!&ndash;  <div class="spacer"></div>&ndash;&gt;-->
<!--&lt;!&ndash;  <a href="#" style="color: white" title="Setting" [routerLink]="'/configuration'"><i class="fa fa-cog fa-3x mr-5"></i></a>&ndash;&gt;-->
<!--</div>-->
<div id="header">
  <div class="row">
    <div class="col-1"><a href="#" title="Home"><i class="fa fa-home fa-2x" routerLink="/home"></i></a></div>
    <div class="col-6"><a href="#" routerLink="/home"><h5>Momentum 2C : MKA - AMELP </h5></a></div>
  </div>
</div>

<div id="main">
  <router-outlet></router-outlet>
</div>
