
<h5 class="text-secondary">{{currentProgram?.name}}</h5>
<hr>
<div class="row m-0 p-0">
  <div class="col-6 m-0">
    <h4>List of Records</h4>
  </div>
  <div class="col-6 text-right m-0">
    <button class="btn btn-secondary mr-2" [routerLink]="['/home',currentProgram?.organisationUnits[0].id]"> <i class="fa fa-home"></i> Back to project list</button>
    <button class="btn btn-primary" [routerLink]="['/tracker', currentProgram?.code, currentProgram?.id, 'form']"> <i class="fa fa-plus"></i> Add New</button>
  </div>
</div>
<hr>
    <table class="table table-striped table-bordered table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
      <tr>
        <th>Reporting Period</th>
        <th>Record Date</th>
        <th>Project Area</th>
        <th>Product Name</th>
        <th>Stored by</th>
        <th>Status</th>
        <th>Complete Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let e of eventRegistered">
        <td>{{ getFiscalYearFormat(e?.period) }}</td>
        <td>{{ e?.created | date: 'yyy-MM-dd'}}</td>
        <td>{{e?.orgUnitName}}</td>
        <td>{{ e?.productName}}</td>
        <td>{{e.storedBy}}</td>
        <td>{{e.status}}</td>
        <td>{{e?.completedDate | date: 'yyy-MM-dd'}}</td>
        <td>
          <button class="btn {{e.status === 'COMPLETED' ? 'btn-success' : 'btn-primary' }}" [routerLink]="['/tracker', currentProgram?.code, currentProgram?.id, 'form', e?.event]">
            <i class="fa {{e.status === 'COMPLETED' ?'fa-eye' : 'fa-edit'}}"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteEvent(e?.event)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>







