<div class="container-fluid mt-5">
  <div class="card-header shadow ml-3 text-center">
    <div class="card-title text-center"> <h4>Form for indicator 321</h4></div>
  </div>
  <div class="card">
    <form action="">
      <div class="card">
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Select Reporting Period :</label>
          <div class="col-sm-2">
            <input type="date" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Intermediate Result  :</label>
          <div class="col-sm-2">
            <select type="text" class="form-control form-control-sm">
              <option>Innovations and Learning (IL / IR3.3</option>
              <option>Knowledge Management (KM / IR3.2)</option>
              <option>Monitoring and evaluation (ME / IR3.1)</option>
              <option>Other IR (intermediate result) / project area</option>
              <option>Strategic Communications (SC / IR3.4)</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Indicator Number:</label>
          <div class="col-sm-2">
            <label class="col-sm-8 col-form-label col-form-label-sm">3.2.1</label>
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Indicator Name:</label>
          <div class="col-sm-10">
            <label class="col-sm-10 col-form-label col-form-label-sm">Percent of individuals with XM KM platform access who accessed the platform at least once in the previous 3 months</label>
          </div>
        </div>
      </div>
      <table>
        <thead class="text-center">
        <tr class="border">
          <th class="fixed-side"></th>
          <th colspan="2" >Number of individuals with KM Platform access</th>
          <th colspan="2" class="border">Number of individuals accessing KM platform during this period</th>
        </tr>
        <tr>
          <th class="fixed-side"></th>
          <th class="border-left">HQ</th>
          <th>Field</th>
          <th class="border-left">HQ</th>
          <th>Field</th>
        </tr>
        </thead>
        <tbody>
        <tr class="border">
          <th>1 - MNCH/FP/RH Service Delivery in Fragile Settings </th>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>

        </tr>
        <tr class="border">
          <th>2A - MOMENTUM: Global Technical Leadership and targeted Technical Assistance for MNCH/FP/RH </th>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr class="border">
          <th>2B - Targeted MNCH/FP/RH Technical Assistance for Private Providers </th>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr class="border">
          <th>2C - MOMENTUM Knowledge Accelerator</th>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr class="border">
          <th>3A - MOMENTUM: Overcoming Entrenched Obstacles </th>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr class="border">
          <th>3B - MOMENTUM: Round 3B Entrenched Obstacles in Routine Immunization</th>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr class="border">
          <th>USAID</th>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr class="border">
          <th>TOTAL</th>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr class="text-center">
          <td colspan="5">
            <button class="btn btn-primary mt-3 mr-5">Valided</button>
            <button class="btn btn-success mt-3" routerLink="/home"> << Back </button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
