<div class="container-fluid mt-5">
  <div class="card">
    <form action="">
      <div class="card">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Select Reporting Period :</label>
          <div class="col-sm-4 input-group">
            <div class="input-group-prepend">
              <button class="input-group-text btn btn-primary" (click)="previewsYearPeriod()"> << </button>
            </div>
            <select name="" class="form-control" (change)="selectPeriod($event)">
              <option value=""></option>
              <option *ngFor="let period of periodList" value="{{period.id}}">{{period.value}}</option>
            </select>
            <div class="input-group-append">
              <button class="input-group-text btn btn-primary" (click)="nextYearPeriod()"> >> </button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Intermediate Result :</label>
          <div class="col-sm-10">
            <label class="col-sm-8 col-form-label col-form-label-sm">{{dataSet.organisationUnits[0].name}}</label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Indicator Name:</label>
          <div class="col-sm-10">
            <label class="col-sm-10 col-form-label col-form-label-sm">{{dataSet.name}}</label>
          </div>
        </div>
      </div>
      <table *ngIf="choicePeriod == 1">
        <thead class="text-center">
        <tr class="border">
          <th class="fixed-side"></th>
          <th colspan="2" >Number of individuals with KM Platform access</th>
          <th colspan="2" class="border">Number of individuals accessing KM platform during this period</th>
        </tr>
        <tr>
          <th class="fixed-side"></th>
          <th class="border-left">HQ</th>
          <th>Field</th>
          <th class="border-left">HQ</th>
          <th>Field</th>
        </tr>
        </thead>
        <tbody>
        <tr class="border">
          <th>1 - MNCH/FP/RH Service Delivery in Fragile Settings </th>
          <td><input type="text" class="form-control" id="ocGZ1xEnwNI-kel60sbYuYS" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="a8Bvvge1DdL-kel60sbYuYS" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DtwP9asQUZi-kel60sbYuYS" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DCN3XmqfhIt-kel60sbYuYS" (change)="saveData($event)"></td>

        </tr>
        <tr class="border">
          <th>2A - MOMENTUM: Global Technical Leadership and targeted Technical Assistance for MNCH/FP/RH </th>
          <td><input type="text" class="form-control" id="ocGZ1xEnwNI-TLdqy1eCqDX" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="a8Bvvge1DdL-TLdqy1eCqDX" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DtwP9asQUZi-TLdqy1eCqDX" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DCN3XmqfhIt-TLdqy1eCqDX" (change)="saveData($event)"></td>
        </tr>
        <tr class="border">
          <th>2B - Targeted MNCH/FP/RH Technical Assistance for Private Providers </th>
          <td><input type="text" class="form-control" id="ocGZ1xEnwNI-wUzx8NL5vDl" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="a8Bvvge1DdL-wUzx8NL5vDl" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DtwP9asQUZi-wUzx8NL5vDl" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DCN3XmqfhIt-wUzx8NL5vDl" (change)="saveData($event)"></td>
        </tr>
        <tr class="border">
          <th>2C - MOMENTUM Knowledge Accelerator</th>
          <td><input type="text" class="form-control" id="ocGZ1xEnwNI-d8VnWt4kqqR" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="a8Bvvge1DdL-d8VnWt4kqqR" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DtwP9asQUZi-d8VnWt4kqqR" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="" (change)="saveData($event)"></td>
        </tr>
        <tr class="border">
          <th>3A - MOMENTUM: Overcoming Entrenched Obstacles </th>
          <td><input type="text" class="form-control" id="ocGZ1xEnwNI-zGxCINpSumc" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="a8Bvvge1DdL-zGxCINpSumc" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DtwP9asQUZi-zGxCINpSumc" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DCN3XmqfhIt-zGxCINpSumc" (change)="saveData($event)"></td>
        </tr>
        <tr class="border">
          <th>3B - MOMENTUM: Round 3B Entrenched Obstacles in Routine Immunization</th>
          <td><input type="text" class="form-control" id="ocGZ1xEnwNI-MYeZhi2Z5jO" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="a8Bvvge1DdL-MYeZhi2Z5jO" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DtwP9asQUZi-MYeZhi2Z5jO" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DCN3XmqfhIt-MYeZhi2Z5jO" (change)="saveData($event)"></td>
        </tr>
        <tr class="border">
          <th>USAID</th>
          <td><input type="text" class="form-control" id="ocGZ1xEnwNI-ZSE3IGg3Lux" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="a8Bvvge1DdL-ZSE3IGg3Lux" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DtwP9asQUZi-ZSE3IGg3Lux" (change)="saveData($event)"></td>
          <td><input type="text" class="form-control" id="DCN3XmqfhIt-ZSE3IGg3Lux" (change)="saveData($event)"></td>
        </tr>
        <tr class="border">
          <th>TOTAL</th>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr class="text-center">
          <td colspan="5">
            <button class="btn btn-primary mt-3 mr-5" (click)="completeForm()">Complete</button>
            <button class="btn btn-success mt-3" routerLink="/home"> << Back</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
