/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  background-color: #F4F4F4;
  /*font-family: Roboto, serif;*/
}

a {
  text-decoration: none;
}
.logo {
  height: 50px;
  width: 120px;
}
#header {
  position: fixed;
  top: 48px;
  left: 0px;
  right: 0px;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 3px;
  transition: all 75ms ease-out 0s;
  z-index: 10;
  overflow: hidden;
  box-sizing: border-box;
  height: 65px;
  max-height: 70px;
  padding: 10px;
  font-size: 20px;
  text-indent: 6px;
  vertical-align: center;
}

#header a {
  color: black;
  text-decoration: none;
}

#main {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  /*border-top: lightgray 1px solid;*/
  margin-top: 120px;
  min-height: 500px;
  padding: 5px;
}

.alert, .btn, .card {
  border-radius: 0
}

.box {
  margin: 0 5px 0 5px;
}
.positionTable232{
  height: 500px;
}
.positionTable341{
  height: 50px;
}
.headcol {
  /*position: absolute;*/
  width: auto;
  /*height: auto;*/
  font-size: x-small;
  /*left: 0;*/
  /*text-align: center;*/
  /*top: auto;*/
  /*margin-left: 5px;*/
  /*padding: 0;*/
  /*only relevant for first row*/
  /*margin-top: 10px;*/
  /*compensate for top border*/
}
.secondPart {
  width: auto;
  margin-left: 300px;
  /*padding: 0;*/
  /*overflow-x: scroll;*/
  /*overflow-y: visible;*/
}
/*tdBody {*/
/*  width: 250px;*/
/*}*/
select.ng-invalid{
  bolder-left: 5px solid red
}
select.ng-valid{
  bolder-left: 5px solid green
}
.error {
  color: red;
}
.bg-lightgray{
  background-color: #e6e6e6;
}
input[type=text]{
  min-width: 60px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip #tooltip-text {
  /*visibility: hidden;*/
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover #tooltip-text {
  visibility: visible;
}
