<h5 class="alert m-0 text-secondary shadow shadow-sm">
  <i class="fa fa-bars"></i> Project Indicator Lists
  <span *ngIf="selectedProject"> : <span class="text-primary">{{ selectedProject }}</span></span>
</h5>
<div class="card shadow shadow-sm">
  <div class="card-body m-0 p-1">
    <div class="card border bg-light {{!isLast ? 'mb-1' : 'mb-0'}}" *ngFor="let dataSet of dataSets; let index = index; let isLast = last" style="border-color: lightgray">

      <div class="card-body text-secondary">
        <div class="row">
          <div class="col-10">
            {{ dataSet?.name}}
          </div>
          <div class="col-2 text-right">
            <button class="btn btn-primary btn-sm" [routerLink]="['/aggregate', dataSet.code, dataSet.id]" *ngIf="type !=='tracker'"> Data Entry </button>
            <button class="btn btn-primary btn-sm" [routerLink]="['/tracker', dataSet.code, dataSet.id]" *ngIf="type === 'tracker'"> Data Entry </button>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-warning text-center mb-0" *ngIf="dataSets.length === 0">
      <i class="fa fa-arrow-left"></i> {{content}}
    </div>
  </div>
</div>
